<section class="clientes">
  <div class="container">

    <h2 class="clientes-tag">
     Transformando o Atendimento de Grandes Empresas
    </h2>

    <div class="logos-wrapper">

      <div class="logos-track">

  <!-- LOOP 1 -->
<img src="assets/images/logos/bradesco.png" class="bradesco"/>
<img src="assets/images/logos/mercadopago.png" class="logo-color logo-mercado"/>
<img src="assets/images/logos/crcpa.png"/>
<img src="assets/images/logos/grupomonitor.png"/>
<img src="assets/images/logos/true.png"/>
<img src="assets/images/logos/vuelo.png" class="vuelo"/>
<img src="assets/images/logos/weramp.png" class="logo-color"/>

<!-- LOOP 2 (repete igual) -->
<img src="assets/images/logos/bradesco.png" class="bradesco"/>
<img src="assets/images/logos/mercadopago.png" class="logo-color logo-mercado"/>
<img src="assets/images/logos/crcpa.png"/>
<img src="assets/images/logos/grupomonitor.png"/>
<img src="assets/images/logos/true.png"/>
<img src="assets/images/logos/vuelo.png" class="vuelo"/>
<img src="assets/images/logos/weramp.png" class="logo-color"/>


      </div>

    </div>

  </div>
</section>
